<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Enable DEBUG for internal compute & validator -->
  <logger name="com.elad.halacha.engine.internal.InternalMethodComputer" level="DEBUG"/>
  <logger name="com.elad.halacha.rest.profiles.ProfileValidator" level="DEBUG"/>
  <logger name="InternalMethodsRoutes" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>